* {margin: 0;}

html {background-color: white;}

header {box-sizing: border-box;
background-color: white;
margin: 5px auto;
width:100%;
position:relative;}

header h1 {font-size: 30pt;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding-top: 20px;
padding-bottom: 5px;}

h1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25;
padding: 10px;
padding-left: 20px;
color: #500060;}

header li a {text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:#500060;
background-color: white;
font-size: 15pt;
transition: color 2s;}

.focus {
    color:rgb(188, 130, 239);
    background-color:#500060;
}

header li a:hover {color:rgb(188, 130, 239);
    background-color:#500060;
transition: 1000ms linear;}

body {font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14pt;
}

article {background-color: #7f538a;
color: aliceblue;
margin-top: 20px;
margin-bottom: 20px;}

article h1 {color:aliceblue;
font-size: 25;}

article p {color: aliceblue}


nav ul {display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    text-decoration-line: none;
    gap: 10px;}

img {width: 500px;}

img  {object-position:center ;
width: 55em;}

#profiles ul {
    list-style: none;       
    padding: 0;
    margin: 0;
    display: flex;       
    gap: 20px;             
    justify-content: center; 
}

#profiles li {
    flex: 1;                 
    max-width: 300px;        
    text-align: center;      
}

#profiles img {
    width: 100%;             
    height: auto;
    border-radius: 10px;     
}

#thumbnails ul {
    list-style: none;        
    padding: 0;
    margin: 0;
    display: flex;         
    flex-wrap: wrap;        
    gap: 20px;              
    justify-content: center; 
}

#thumbnails li {
    flex: 1 1 300px;         
    max-width: 350px;        
    text-align: center;      
    background: #f8f8f8;   
    padding: 15px;
    border-radius: 10px;
}

#index {padding-bottom: 12.5em}

#episodes {padding-bottom: 12.5em}

li img {max-width: 18.75em;}

li p {max-width: 318.75em;}

p {padding: 20px;
    box-sizing: border-box;
    color: #500060;
}

body a {
margin: 20px;
padding:10px;
background-color: #500060;
text-decoration: none;
color:white;
transition: color 5s;
}

body a:hover {background-color:blueviolet;}

footer {
    margin-top: 50px;
    background-color: #500060;
    height: 100px;}

footer p { color: white;
    padding: 20px;}
